* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

header {
  background: #222;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

nav a {
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

footer {
  background: IMG-20250620-WA0002.jpg#222;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
